.gif-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
}
.gif-grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}