:root{
  --height-size: 6rem;
  --border-radius: 16px;
  --base-color: #fff;
  --gif-size: 150px;
  --font-size: 18px;
  --color: #0d080375;
}

  body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(80deg, #0D0304 0%, #252525 101.94%);
    background: -webkit-gradient(193.64deg, #0D0304 0%, #252525 101.94%);
    padding: 0;
    margin: 0;
    color: var(--base-color);
  }

body::-webkit-scrollbar{
    width: 0px;
    height: 0px;

    background: rgba(250, 244, 240, 0.01);
    box-shadow: 0px 39px 56px -56px rgba(250, 244, 240, 0.05), 0px 7px 10px -400px rgba(250, 244, 240, 0.2), 0px -82px 68px -64px rgba(96, 68, 144, 0.3), 0px 98px 100px -48px rgba(202, 172, 255, 0.3), 0px 4px 18px rgba(2, 2, 2, 0.3), inset 0px 1px 40px rgba(227, 222, 255, 0.05); 
    backdrop-filter: blur(100px);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--text-color);
    background: rgba(250, 244, 240, 0.15);/* ligth+ */
    border-radius: 4px;
}


body.dark-theme img {
  filter: brightness(.8) contrast(1.2);
}

/* Or apply it via media query */
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(.8) contrast(1.2);
  }
}

  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a{
    text-decoration: none;
    color: var(--base-color);
  }

  button{
    margin: 0;
    padding: 0;
    display: inline;
  }

  @media screen and (min-width: 800px) {

    :root{
      --gif-size: 250px;
    }
  }