:root{
  --height-size: 6rem;
  --border-radius: 16px;
  --base-color: #fff;
  --gif-size: 150px;
  --font-size: 18px;
}

  body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(80deg, #0D0304 0%, #252525 101.94%);
    background: -webkit-gradient(193.64deg, #0D0304 0%, #252525 101.94%);
    padding: 0;
    margin: 0;
    color: var(--base-color);
  }

  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  a{
    text-decoration: none;
    color: var(--base-color);
  }

  button{
    margin: 0;
    padding: 0;
    display: inline;
  }

  @media screen and (min-width: 800px) {

    :root{
      --gif-size: 250px;
    }
  }